<footer class="site-footer">

  <div class="wrapper">

  </div>

</footer>

<div id="footer_wrap" class="outer">
  <footer class="inner">
      <div class="footer-col">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
        </ul>
      </div>
  </footer>
</div>
